name: Test Trigger Update Formula

permissions:
  contents: write

on:
  repository_dispatch:
    types: [test-update-homebrew-formula]

jobs:
  update-formula:
    runs-on: ubuntu-latest
    steps:
      - name: Only deploy on repository_dispatch if version starts with 'v'
        run: |
          echo "Event name: ${{ github.event_name }}"
          echo "Type: ${{ github.event.action }}"
          echo "Version: ${{ github.event.client_payload.version }}"
          if [[ "${{ github.event_name }}" == "repository_dispatch" && "${{ github.event.client_payload.type }}" == "test-update-homebrew-formula" ]]; then
            echo "Version: ${{ github.event.client_payload.version }}"
            if [[ "${{ github.event.client_payload.version }}" != v* ]]; then
              echo "Version does not start with 'v'. Stopping workflow."
              exit 1
            fi
          fi
        shell: bash